 footer  {
   background-color: rgba(0,255,0,0.5);
   padding-top: 48px!important;
   padding-bottom: 48px!important;
   box-sizing: border-box;
   display: block;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
 }

 hr {
     border: none;
     height: 2px;
     /* Set the hr color */
     color: grey; /* old IE */
     background-color: rgba(211,211,211,1); /* Modern Browsers */
     margin: 20px 150px 0px 150px;
 }

.center-text {
  text-align: center;
}

h3 {
  padding: 0;
}

.py-5 {
  padding-top: 20px!important;
}

.login {
  background-color: #2595EB;
  padding: 0px 10px 0px 10px;
  border-radius: 2px;
}

.company-logo {
  border: 2px solid blue;
  margin: 10px;
  padding: 100px

}
.project-mini-display {
  padding: 50px;
  border: 2px solid blue;
  display: inline;
  clear: both;
  float: right;
}
#row1colL {
  border: 2px solid blue;
  height: 50vh;
  vertical-align: middle;
}
#row1colRrow1 {
  border: 2px solid blue;
}

#row1colRrow2 {
  border: 2px solid blue;
}
#row2colL {
  border: 2px solid green;
}
#row2colR {
  border: 2px solid green;
}
#row2colR {
  padding-bottom: 50px;
}


.row {
  margin-top: 30px;
}

.container img{
  size: cover
}

.container {
  text-align: center;
}
