body {
    padding-top: 100px; /* This should be equal to the height of your header */
}

 footer  {
   background-color: rgba(0,255,0,0.5);
   padding-top: 48px!important;
   padding-bottom: 48px!important;
   box-sizing: border-box;
   display: block;
   font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
 }

 /*hr {
     border: none;
     height: 2px;
     /* Set the hr color *//*
     color: grey; /* old IE *//*
     background-color: rgba(211,211,211,1); /* Modern Browsers *//*
     margin: 20px 150px 0px 150px;
 }*/

.center-text {
  text-align: center;
}

h3 {
  padding: 0;
}

.py-5 {
  padding-top: 20px!important;
}

.login {
  background-color: #2595EB;
  padding: 0px 10px 0px 10px;
  border-radius: 2px;
}

.company-title, .company-description {
  background-color: grey;
  padding: 5px;
}

.more-info-btn {
  background-color: #2595EB;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
    margin-top: 35px;
}

.company-description {
  margin-top: 10px;
}

.company-images img {
  width: 25%!important;
}

.company-images {
  margin-top: 20px;
  max-height: 100%;
  max-width: 100%;
}

.carousel-inner {
  width: 80%!important;
  margin: auto;
  margin-bottom: 40px;
}

.carousel-inner {
  height: 80%!important;
}

.carousel {
  background-color: #C1C1C1;
  position: relative;
  padding: 10px;     /* Shows as a border around the carousel */
}
